<mat-card>
  <mat-card-header>
    <mat-card-title>Podaj dane samochodu:</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="editCarForm" (ngSubmit)="onSubmit()">
      <mat-grid-list cols="3" rowHeight="5em">
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Marka</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Model</mat-label>
            <input matInput formControlName="model">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label>Kategoria</mat-label>
            <mat-select formControlName="category">
              <mat-option value='Small'>Małe samochody</mat-option>
              <mat-option value='Medium'>Klasa średnia</mat-option>
              <mat-option value='Luxury'>Samochody luksusowe</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field floatLabel="always">
            <mat-label>Cena - wynajem krótkoterminowy</mat-label>
            <input matInput type="number" formControlName="priceShortTerm" class="right-align" placeholder="0">
            <span matTextPrefix="">PLN&nbsp;</span>
            <span matTextSuffix="">.00</span>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field floatLabel="always">
            <mat-label>Cena - wynajem krótkoterminowy</mat-label>
            <input matInput type="number" formControlName="priceLongTerm" class="right-align" placeholder="0">
            <span matTextPrefix="">PLN&nbsp;</span>
            <span matTextSuffix="">.00</span>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Rok produkcji</mat-label>
            <input matInput type="number" formControlName="manufactureYear">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Liczba osób</mat-label>
            <input matInput type="number" formControlName="numberOfPeople">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Klimatyzacja</mat-label>
            <mat-select formControlName="airCon">
              <mat-option value="{{true}}">Tak</mat-option>
              <mat-option value="{{false}}">Nie</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Rodzaj paliwa</mat-label>
            <mat-select formControlName="fuel">
              <mat-option value="{{fuelTypes[0]}}">Diesel</mat-option>
              <mat-option value="{{fuelTypes[1]}}">Benzyna</mat-option>
              <mat-option value="{{fuelTypes[2]}}">Benzyna + LPG</mat-option>
              <mat-option value="{{fuelTypes[3]}}">Elektryczny</mat-option>
              <mat-option value="{{fuelTypes[4]}}">Hybryda</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Skrzynia biegów</mat-label>
            <mat-select formControlName="gearbox">
              <mat-option value="{{gearboxTypes[0]}}">Automatyczna</mat-option>
              <mat-option value="{{gearboxTypes[1]}}">Manualna</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Liczba drzwi</mat-label>
            <input matInput type="number" formControlName="numberOfDoor">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Pojemność silnika</mat-label>
            <input matInput type="number" formControlName="engineSize" class="right-align">
            <span matTextSuffix="">cm3</span>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Napęd</mat-label>
            <mat-select formControlName="driveType">
              <mat-option value="{{driveTypes[0]}}">Napęd na przód</mat-option>
              <mat-option value="{{driveTypes[1]}}">Napęd na tył</mat-option>
              <mat-option value="{{driveTypes[2]}}">Napęd na cztery koła</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
          <input type="file" class="file-input"
                 (change)="onFileSelected($event)" #fileUpload>

          <div class="file-upload">

            {{fileName || "Jeszcze nie dodano zdjęcia samochodu"}}

            <button mat-mini-fab color="primary" class="upload-btn"
                    (click)="fileUpload.click()">
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
        </mat-grid-tile>

      </mat-grid-list>

      <mat-card-actions>
        <button mat-raised-button color="accent" type="submit" [disabled]="editCarForm.invalid">Zapisz</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
