mat-card{
  margin: 3em;
}

mat-form-field {
  width: 100%;
  margin: 1em;
}

.right-align{
  text-align: right;
}

input.right-align::-webkit-inner-spin-button {
  display: none;
}



/*mat-grid-tile{*/
/*  flex-direction: column;*/
/*}*/

/*.form-fields {*/
/*  display: flex;*/
/*  align-items: flex-start;*/
/*}*/
