.full-width {
  width: 100%;
}

mat-card{
  max-width: 70%;
  margin: 3em auto auto;
  background-color: #3849a2;
  color: white;
}

mat-form-field {
  margin: 1em 1em auto auto;
}

.flex-container {
  display: flex;
  justify-content: space-between; /* This will create equal space between the elements */
}

.full-width-grow {
  flex-grow: 1;
}

.no-right-margin{
  margin-right: 0;
}

.flex-spacer{
  flex-grow: 1;
}

.car-card{
  width: 580px;
  background-color: #3849a2;
  color: white;
}

mat-card-header{
  margin-bottom: 1em;
}

span{
  color: white;
}

.myHeight{
  height: 100px;
}

h3{
  color: white;
}

.mat-card-summary{
  max-width: 70%;
  margin: 3em auto 100px;
  background-color: #3849a2;
  color: white;
}

mat-divider{
  background-color: lightgray;
  max-width: 100%;
}

.large-button {
  font-size: 20px; /* increase the font size */
  padding: 15px 30px; /* increase the padding */
  min-height: 80px;
}

