<mat-form-field>
  <mat-label>Wybierz samochód</mat-label>
  <mat-select>
    <mat-option>asdasd</mat-option>
    <mat-option>asdasd</mat-option>
    <mat-option>asdasd</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Wybierz datę</mat-label>
  <mat-select>
    <mat-option>asdas das asd asd asd </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Liczba miejsc</mat-label>
  <input matInput type="number" placeholder="Liczba miejsc">
</mat-form-field>
