mat-card{
  margin: 3em;
  width: 580px;
  background-color: #3849a2;
  color: white;
  /*display: flex;*/
  /*height: 100%;*/
}

span{
  color: white;
}

mat-grid-list, mat-grid-tile{
  height: 100px;
}

/*.align-right {*/
/*  position: absolute;*/
/*  left: 0;*/
/*  color: white;*/
/*}*/

/*.align-left {*/
/*  position: absolute;*/
/*  left: 0;*/
/*  color: white;*/
/*}*/



