mat-card{
  /*margin: 3em;*/
  width: 580px;
  background-color: #3849a2;
  color: white;
}

mat-card-subtitle{
  color: lightgray;
}

span{
  color: white;
}

mat-grid-list, mat-grid-tile{
  height: 20px;
}

button{
  margin: 0 10px 10px 0;
  min-width: 120px;
}



